Source: libegen
Priority: extra
Maintainer: Erik Åldstedt Sund <erikalds@gmail.com>
Build-Depends: debhelper (>= 7), scons (>= 1.2.0), libboost-dev (>= 1.37.0), libboost-test-dev (>= 1.37.0)
Standards-Version: 3.8.0
Section: libs
Homepage: http://krikkit.blogsite.org/

Package: libegen-dev
Section: libdevel
Architecture: any
Depends: libegen0 (= ${binary:Version})
Description: Erik's Generic Library - Development files
 C++ library containing generic classes such as Points and
 Vectors.

Package: libegen0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Erik's Generic Library
 C++ library containing generic classes such as Points and
 Vectors.
